@import "tailwindcss";

:root {
  --primary: #ece03f;
  --dark: #1a1a1a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--dark);
  background-color: #fff;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-dark {
  background-color: var(--dark);
}

.text-primary {
  color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

.hover\:text-primary:hover {
  color: var(--primary) !important;
}

.hover\:bg-dark:hover {
  background-color: var(--dark) !important;
}